
/*------------------------------------------------------------------
    about Section styles
-------------------------------------------------------------------*/

.about__block__col {
    img {
        display: block;
        width: 88%;
        height: auto;
    }
    p {
        margin-top: 40px;
    }
}