
.subscribe__section {
	margin-top: 30px;
	p {
		margin-top: 40px;
		color: $whiteColor;
		font-weight: 300;
	}
	//.input-group {
	//	input:not([type="submit"]) {
	//		z-index: 5;
	//		border-bottom: 1px solid transparent;
	//		border-right: 1px solid $mediumMainColor;
	//	}
	//}
}