

.preloader__wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: 999999;
    opacity: 1;
    background-color: $whiteColor;
    @include transition(opacity 0.5s ,z-index 0s);
    &.-preloader__done {
        opacity: 0;
        z-index: -5;
        @include transition(opacity 0.5s ,z-index 0s 0.5s);
        .preloader__wrap__item {
            @include animation-play-state(paused !important);
        }
    }
}

.preloader__wrap__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 30px;
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
    @include transform(translate3d(-50%, -50%,0));
}

.preloader__wrap__item {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 30px;
	will-change: transform;
	backface-visibility: hidden;
    transform-origin: 100% 100%;
    transform-style: preserve-3d;
    pointer-events: none;
    svg {
        display: block;
        width: 50px;
        height: 30px;
		polygon {
			fill: rgba($mainColor,0.8);
		}
		path {
			fill: $whiteColor;
		}
    }
}

.preloader__wrap__item:nth-child(1) {
    opacity: 0;
    @include animation(preloader__item__transform__right 4s linear infinite 0s);
}
.preloader__wrap__item:nth-child(2) {
    opacity: 0;
    @include animation(preloader__item__transform__left 4s linear infinite 1s);
}
.preloader__wrap__item:nth-child(3) {
    opacity: 0;
    @include animation(preloader__item__transform__right 4s linear infinite 2s);
}
.preloader__wrap__item:nth-child(4) {
    opacity: 0;
    @include animation(preloader__item__transform__left 4s linear infinite 3s);
}

@keyframes preloader__item__transform__right {
    0% {
        @include transform(translate3d(30px, -30px, 0));
        z-index: 1;
        opacity: 0;
    }
    10%, 20% {
        @include transform(translate3d(0, 0, 0));
        z-index: 4;
        opacity: 1;
    }
    30%, 40% {
        @include transform(translate3d(0, 10px, 0));
        z-index: 3;
        opacity: 1;
    }
    50%, 60% {
        @include transform(translate3d(0, 20px, 0));
        z-index: 2;
        opacity: 0;
    }
    70%, 80%, 90% {
        @include transform(translate3d(0, 30px, 0));
        z-index: 1;
        opacity: 0;
    }
    100% {
        @include transform(translate3d(30, 30px, 0));
        z-index: 1;
        opacity: 0;
    }
}
@keyframes preloader__item__transform__left {
    0% {
        @include transform(translate3d(-30px, -30px, 0));
        z-index: 1;
        opacity: 0;
    }
    10%, 20% {
        @include transform(translate3d(0, 0, 0));
        z-index: 4;
        opacity: 1;
    }
    30%, 40% {
        @include transform(translate3d(0, 10px, 0));
        z-index: 3;
        opacity: 1;
    }
    50%, 60% {
        @include transform(translate3d(0, 20px, 0));
        z-index: 2;
        opacity: 0;
    }
    70%, 80%, 90% {
        @include transform(translate3d(0, 30px, 0));
        z-index: 1;
        opacity: 0;
    }
    100% {
        @include transform(translate3d(-30, 30px, 0));
        z-index: 1;
        opacity: 0;
    }
}







.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;

    &.small {
        width: 36px;
        height: 36px;
    }

    &.big {
        width: 64px;
        height: 64px;
    }

    &.active {
        /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
        -webkit-animation: container-rotate 1568ms linear infinite;
        animation: container-rotate 1568ms linear infinite;
    }
}

@-webkit-keyframes container-rotate {
    to { -webkit-transform: rotate(360deg) }
}

@keyframes container-rotate {
    to { transform: rotate(360deg) }
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: $spinner-default-color;
}

.spinner-blue,
.spinner-blue-only {
    border-color: #4285f4;
}

.spinner-red,
.spinner-red-only {
    border-color: #db4437;
}

.spinner-yellow,
.spinner-yellow-only {
    border-color: #f4b400;
}

.spinner-green,
.spinner-green-only {
    border-color: #0f9d58;
}

.active .spinner-layer.spinner-blue {
    /* durations: 4 * ARCTIME */
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-red {
    /* durations: 4 * ARCTIME */
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-yellow {
    /* durations: 4 * ARCTIME */
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-green {
    /* durations: 4 * ARCTIME */
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.active .spinner-layer,
.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only,
.active .spinner-layer.spinner-green-only {
    /* durations: 4 * ARCTIME */
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% { -webkit-transform: rotate(135deg);  } /* 0.5 * ARCSIZE */
    25%   { -webkit-transform: rotate(270deg);  } /* 1   * ARCSIZE */
    37.5% { -webkit-transform: rotate(405deg);  } /* 1.5 * ARCSIZE */
    50%   { -webkit-transform: rotate(540deg);  } /* 2   * ARCSIZE */
    62.5% { -webkit-transform: rotate(675deg);  } /* 2.5 * ARCSIZE */
    75%   { -webkit-transform: rotate(810deg);  } /* 3   * ARCSIZE */
    87.5% { -webkit-transform: rotate(945deg);  } /* 3.5 * ARCSIZE */
    to    { -webkit-transform: rotate(1080deg); } /* 4   * ARCSIZE */
}

@keyframes fill-unfill-rotate {
    12.5% { transform: rotate(135deg);  } /* 0.5 * ARCSIZE */
    25%   { transform: rotate(270deg);  } /* 1   * ARCSIZE */
    37.5% { transform: rotate(405deg);  } /* 1.5 * ARCSIZE */
    50%   { transform: rotate(540deg);  } /* 2   * ARCSIZE */
    62.5% { transform: rotate(675deg);  } /* 2.5 * ARCSIZE */
    75%   { transform: rotate(810deg);  } /* 3   * ARCSIZE */
    87.5% { transform: rotate(945deg);  } /* 3.5 * ARCSIZE */
    to    { transform: rotate(1080deg); } /* 4   * ARCSIZE */
}

@-webkit-keyframes blue-fade-in-out {
    from { opacity: 1; }
    25% { opacity: 1; }
    26% { opacity: 0; }
    89% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes blue-fade-in-out {
    from { opacity: 1; }
    25% { opacity: 1; }
    26% { opacity: 0; }
    89% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

@-webkit-keyframes red-fade-in-out {
    from { opacity: 0; }
    15% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
}

@keyframes red-fade-in-out {
    from { opacity: 0; }
    15% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
}

@-webkit-keyframes yellow-fade-in-out {
    from { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    76% { opacity: 0; }
}

@keyframes yellow-fade-in-out {
    from { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    76% { opacity: 0; }
}

@-webkit-keyframes green-fade-in-out {
    from { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes green-fade-in-out {
    from { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/**
 * Patch the gap that appear between the two adjacent div.circle-clipper while the
 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
 */
.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.gap-patch .circle {
    width: 1000%;
    left: -450%;
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    .circle {
        width: 200%;
        height: 100%;
        border-width: 3px;
        border-style: solid;
        border-color: $mainColor;
        border-bottom-color: transparent !important;
        border-radius: 50%;
        -webkit-animation: none;
        animation: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &.left .circle {
        left: 0;
        border-right-color: transparent !important;
        -webkit-transform: rotate(129deg);
        transform: rotate(129deg);
    }
    &.right .circle {
        left: -100%;
        border-left-color: transparent !important;
        -webkit-transform: rotate(-129deg);
        transform: rotate(-129deg);
    }
}



.active .circle-clipper.left .circle {
    /* duration: ARCTIME */
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.active .circle-clipper.right .circle {
    /* duration: ARCTIME */
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

@-webkit-keyframes left-spin {
    from { -webkit-transform: rotate(130deg); }
    50% { -webkit-transform: rotate(-5deg); }
    to { -webkit-transform: rotate(130deg); }
}

@keyframes left-spin {
    from { transform: rotate(130deg); }
    50% { transform: rotate(-5deg); }
    to { transform: rotate(130deg); }
}

@-webkit-keyframes right-spin {
    from { -webkit-transform: rotate(-130deg); }
    50% { -webkit-transform: rotate(5deg); }
    to { -webkit-transform: rotate(-130deg); }
}

@keyframes right-spin {
    from { transform: rotate(-130deg); }
    50% { transform: rotate(5deg); }
    to { transform: rotate(-130deg); }
}

#spinnerContainer.cooldown {
    /* duration: SHRINK_TIME */
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}


// Progress Bar
.progress {
    position: relative;
    height: 2px;
    display: block;
    width: 100%;
    background-color: lighten($progress-bar-color, 40%);
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
    .determinate {
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $progress-bar-color;
        transition: width .3s linear;
    }
    .indeterminate {
        background-color: $progress-bar-color;
        &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left:0;
            bottom: 0;
            will-change: left, right;
            // Custom bezier
            animation: indeterminate 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;

        }
        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left:0;
            bottom: 0;
            will-change: left, right;
            // Custom bezier
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
            animation-delay: 1.15s;
        }
    }
}
@keyframes indeterminate {
    0% {
        left: -35%;
        right:100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}


