.page-404 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: url('../img/404.jpg') center center;
	background-size: cover;
	flex: 1;
	h1,h4 {
		color: #fff;	
	}
	h1 {
		margin-bottom: 10px;	
	}
	h4 {
		margin-bottom: 30px;	
	}
}