.instagram-row {
	margin: 0;
	position: relative;
	align-items: center;
	
	&.margin {
		.columns {
			margin-bottom: 30px;
		}
	}
	figure {
		margin: 0;
		padding: 0;
		position: relative;
		padding-bottom: 80%;
		background-size: cover;
		background-position: center;
		@include filter(grayscale(100%));
		will-change: filter;
		@extend .quick-transition;
		&>a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;	
		}
		&:hover {
			@include filter(grayscale(0%));
		}
	}
}

/* Clients */
.thb-client-row {
	&.has-border {
		.thb-client {
			border: 1px solid $color1;
		}
		.thb-client {
			margin-right: -1px;
			margin-bottom: -1px;
		}
		.slick {
			.slick-list {
				padding: 0 1px 1px 0 !important;
			}
		}
		&.thb-opacity.with-accent {
			.thb-client {
				&:hover {
					border-color: $color2;
				}	
			}
		}
	}
	&.thb-opacity {
		.thb-client {
			img {
				will-change: opacity;
				opacity: 0.3;
			}
			&:hover {
				img {
					opacity: 1;
				}
			}
		}
		&.with-accent {
			.thb-client {
				@extend .quick-transition;
				&:hover {
					background: $color2;
				}
			}
		}
	}
	&.thb-grayscale {
		.thb-client {
			img {
				will-change: filter;
				@include filter(grayscale(100%));
			}
			&:hover {
				img {
					@include filter(grayscale(100%));
				}
			}
		}
	}
	.thb-client {
		img {
			display: block;
			margin: 0 auto;
			@extend .quick-transition;	
		}
		a {
			display: block;	
		}
	}
}

/* Team Members */
.thb-team-row {
	.slick {
		.slick-track {
			padding: 5% 0;
		}
		&.centered {
			.slick-slide {
				opacity: 0.7;
				z-index: 1;
				@include transform-origin(center);
				@extend .quick-transition;
				@include scale(1);
				will-change: transform, opacity;
				&.slick-center.slick-active {
					opacity: 1;
					z-index: 2;
					
					@include min-break($break-small) {
						@include scale(1.3);
					}
				}
			}
		}
		.thb-team-member {
			margin-bottom: 0;
		}
	}
	.thb-team-member {
		display: block;
		position: relative;
		margin-bottom: 30px;
		
		&.thb-add-new {
			&> a {
				display: flex;
		    width: 100%;
		    height: 100%;
		    justify-content: center;
		    align-items: center;
		    border: 1px solid #efefef;
		    svg {
		    	width: 60px;
		    	height: 60px;	
		    }
		    &:hover {
		    	border-color: $color2;	
		    	
		    	svg path {
		    		stroke: $color2;	
		    	}
		    }
			}
		}
		.team-information {
			position: absolute;
			top: 0;
			left: 15px;
			right: 15px;
			height: 100%;
			opacity: 0;
			padding: 30px;
			background: rgba($color2, 0.9);
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			color: #fff;
			will-change: opacity;
			@extend .quick-transition;
			
			h6 {
				color: #fff;
				font-size: 14px;
				margin-bottom: 0;
			}
			.job-title {
				color: #fff;
				font-size: 12px;
				margin-bottom: 10px;
			}
			.thb-description {
				font-size: 12px;
				color: #fff;
				
				a {
					display: inline-block;
					opacity: 0.8;
					color: #fff;
					margin-right: 5px;
					&:hover {
						opacity: 1;
					}	
				}
			}
		}
		&:hover {
			.team-information {
				opacity: 1;
			}
		}
		&.member_style2 {
			.team-information {
				position: static;
				opacity: 1;	
				background: none;
				align-items: center;
				padding-top: 25px;
				padding-bottom: 0;
				height: auto;
				h6 {
					color: $color1;
					text-transform: none;
					font-weight: 400;
					font-size: 18px;
					letter-spacing: normal;
				}
				.job-title {
					color: #818185;
					font-size: 14px;
				}
				.thb-description {
					color: $color1;
					
					a {
						color: $color1;	
					}
				}
			}
		}
	}
}
/* Iconbox */
.thb-iconbox {
	display: flex;
	margin-bottom: 20px;
	visibility: hidden;
	@extend .quick-transition;
	figure {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 64px;
		height: 64px;
		flex-shrink: 0;
		svg {
			width: 64px;
			height: 64px;
			display: none;
			path,
			circle,
			rect,
			ellipse {
				stroke: #d3d3d3;
				@include transition(color .25s $transition);
			}
		}	
	}
	h5 {
		font-size: 20px;
		@include transition(color .25s $transition);
	}
	p {
		font-size: 13px;
		display: block;	
	}
	&.type2 {
		padding: 15px;
		border: 1px solid #d9d9d9;
		@include min-break($break-small) {
			padding: 30px;	
		}
		p {
			margin-bottom: 0;	
		}
		&:hover {
			background: $color2;
			border-color: $color2;
			color: #fff;
			
			svg {
				path,
				circle,
				rect,
				ellipse {
					stroke: #fff;	
				}
			}
			h5 {
				color: #fff;	
			}
		}
	}
	&.type3 {
		position: relative;
		padding: 15px;
		border: 2px solid rgba(0,0,0,0.07);
		@extend .quick-transition;
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -2px;
			right: -2px;
			bottom: -2px;
			z-index: 2;
			opacity: 0;
			box-shadow: inset 0 -75px 60px -35px $color2;
			@extend .quick-transition;
			
		}
		@include min-break($break-small) {
			padding: 30px;	
		}
		svg {
			path,
			circle,
			rect,
			ellipse {
				stroke: $color2;
			}	
		}
		p {
			font-size: 16px;
			margin-bottom: 0;	
		}
		.thb-iconbox-bg {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			z-index: 0;
		}
		h5 {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 15px;	
		}
		figure,
		.iconbox-content {
			position: relative;
			z-index: 5;
		}
		.iconbox-content {
			margin-bottom: 20px;
		}
		&:hover {
			background: #000;
			border-color: #000;
			color: #fff;
			.thb-iconbox-bg {
				opacity: 0.3;
			}
			&:after {
				opacity: 1;	
				@include transition-delay(0.1s);
			}
			svg {
				path,
				circle,
				rect,
				ellipse {
					stroke: #fff;	
				}
			}
			h5 {
				color: #fff;	
			}
		}
	}
	&.top {
		flex-direction: column;
		
		figure {
			margin-bottom: 30px;	
		}
		&.type1 {
			align-items: center;
			text-align: center;
		}
	}
	&.left {
		figure {
			margin-right: 30px;	
		}
		h5 {
			margin-bottom: 10px;	
		}
	}
	&.right {
		flex-direction: row-reverse;
		text-align: right;
		figure {
			margin-left: 30px;	
		}
		h5 {
			margin-bottom: 10px;	
		}
	}
}
.thb-testimonials {
	
	.author_image {
		display: inline-block;
		margin: 0 0 20px;
		padding: 0;
		width: 64px;
		height: 64px;	
		border-radius: 32px;
	}
	blockquote {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 20px;	
	}
	cite {
		display: block;
		color: $color1;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 5px;
		&:before {
			display: none;
		}	
	}
	.title {
		font-size: 13px;
		color: $color1;
		font-weight: 300;
		line-height: 1;
	}
	&.style1 {
		text-align: center;
		blockquote {
			p {
				@include min-break($break-medium) {
					font-size: 24px;
				}
			}	
		}
	}
	&.style2 {
		text-align: left;
		blockquote {
			padding-left: 0;
			padding-right: 10%;
			text-align: left;
			p {
				font-size: 20px;
			}	
		}
		.thb-testimonial {
			.author_image {
				float: left;
				margin: 0 20px 0 0;
				
				& + div {
					padding: 10px 0 0 84px;
				}
			}
			div {
				padding: 10px 0 0 0;
				display: block;	
				line-height: 1;
			}
		}
	}
	.thb-light-column & {
		color: #fff;
		blockquote p,
		cite,
		.title {
			color: #fff;	
		}
	}
}

/* Image Slider */
.thb-device {
	max-width: 260px;
	width: 100%;
	margin-bottom: 10%;
	&.align-center {
		margin: 0 auto 10%;
	}
	&.align-right {
		margin-left: auto;
	}
	&.align-left {
		margin-right: auto;
	}
	.thb-iphone {
		position: relative;
		padding-bottom: 201.490825688073%;
		height: 0;
		.device {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: url('../img/iphone.png') left top no-repeat;	
			background-size: 100%;
			
			
		}
		.screen {
			position: absolute;
			background: transparent;
			top: 11.980648833238%;
		  left: 0;
		  right: 0;
		  bottom: 11.95219123506%;
		  .slick-slide {
		  	@extend .quick-transition;
		  	img {
		  		padding-left: 7.110091743119%;
		  		padding-right: 6.823394495413%;
		  	}
		  	
		  }
		  .slick-dots {
		  	text-align: center;
		  	margin-top: 30%;
		  	@include min-break($break-medium) {
		  		margin-top: 40%;
		  	}
		  }
		}
	}
}
.thb-image-slider {
	.slick-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		
		a.thb-full-link {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}	
		&:not(.slick-active) {
			a {
				pointer-events: none;	
			}
		}
	}
	&.thb-image-slider-style1 {
		
		&.margins {
			.slick-slide {
				margin: 0 1%;
			}
		}
		
	}
	&.thb-image-slider-style4 {
		.slick-slide {
			position: relative;
			flex-direction: column;
		}
		figcaption {
			position: static;
			background: $color2;
			padding: 15px;
			top: 10px;
			left: 10px;
			right: 10px;
			padding: 15px;
			width: 100%;
			h2 {
				color: #fff;
				font-weight: 600 !important;	
			}
			p {
				color: #fff;
				font-weight: 600;
				
				&:last-of-type {
					margin: 0;	
				}
			}
			&:after {
				content: '';
				display: none;
				position: static;
				top: 100%;
				left: 0;
				width: 100%;
				height: 10px;
				border-top: 50px solid $color2;
				border-bottom: 0;
				border-right: 55px solid transparent;
			}
			@include min-break($break-small) {
				position: absolute;
				top: 10%;
				left: 5%;
				right: auto;
				padding: 55px 55px 0 55px;
				width: 40%;
				max-width: 600px;
				
				&:after {
					display: block;
					position: absolute;
				}
			}
		}
		.slick-dots {
			position: absolute;
			bottom: 40px;
			left: 0;
			width: 100%;
		}
	}
	&.thb-image-slider-style2 {
		position: relative;
		border-radius: 3px 3px 0 0;
		&:before {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background: #f1f1f1;
			height: 30px;
			width: 100%;
			content: '···';	
			padding-left: 12px;
			color: #d2d2d2;
			font-size: 30px;
			font-weight: 700;
			border-radius: 3px 3px 0 0;
		}
		.slick-slide {
			background: $color1;
		}
	}
	&.thb-image-slider-style3 {
		position: relative;
		height: 100%;	
		.slick-list {
			height: 100%;
		}
	}
	&.thb_full_height {
		.slick-list,
		.slick-track,
		.slick-slide,
		figure {
			height: 100vh;
		}
		figure {
			@extend .cover-bg;	
		}
		.slick-dots {
			position: absolute;
			bottom: 30px;
			width: 100%;
		}
	}
	
}
/* Animation */
.animation {
	will-change: opacity, transform;
	opacity: 0;
	&.bottom-to-top {
		@include translateY(30px);
	}
	&.top-to-bottom {
		@include translateY(-30px);
	}
	&.left-to-right {
		@include translateX(-30px);
	}
	&.right-to-left {
		@include translateX(30px);
	}
	&.scale {
		@include scale(0.8);
	}
	.vc_editor & {
		opacity: 1;
		@include transform(none);
	}
}

/* VC Space */
.vc_empty_space {
	clear: both;
}
/* Image Links */
.image_link {
	display: inline-block;
	
	&.full {
		width: 100%;
	}
}

/* Social links */
.page,
.post .post-content {
	a {
		@each $profile, $color in $social {
	    &.#{$profile} {
	    	color: $color;
        &:hover {
        	color: darken($color, 10%);
        }
	    }
		}	
	}
	.subfooter {
		a.social {
			color: $color1;
			
			@each $profile, $color in $social {
			  &.#{$profile} {
			    &:hover {
			    	color: $color;
			    }
			  }
			}	
		}
		&.dark {
			a.social:not(:hover) {
				color: #fff;
			}
		}
	}
}

/* Tables */
table tbody th, table tbody td {
	text-align: inherit;
	color: $color1;
}
/* Contact Map */
.contact_map {
	h3 {
		margin-bottom: 5px;	
	}
}

/* Typed */
.thb-autotype {
	.thb-autotype-entry {
		display: inline-block;
		font-weight: 600;
		color: $color2;
		will-change: contents;
	}
	.typed-cursor {
		font-weight: 400;
		display: inline-block;
	  @include animation(blink 0.7s infinite);
	}
	@keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-webkit-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-moz-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
}
/* Fade Type */
.thb-fadetype {
	visibility: hidden;
	
	.thb-fadetype-entry {
		display: inline-block;
		will-change: contents;
		div {
			will-change: opacity;	
		}
	}
}

/* Music Toggle */
#music_toggle {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #404040;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	&>div {
		display: flex;	
		padding-bottom: 3px;
		width: 20px;
		height: 21px;
		align-items: flex-end;
	}
	span {
		display: inline-flex;
		margin: 0 1px;
		width: 2px;
		height: 7px;
		background: #fff;
		
	}
	&.on {
		span {
			&:nth-child(1) {
				@include animation(music-bar 2s 1s ease-out alternate infinite);
			}
			&:nth-child(2) {
				@include animation(music-bar 2s 0.5s ease-out alternate infinite);
			}
			&:nth-child(3) {
				@include animation(music-bar 2s 1.5s ease-out alternate infinite);
			}
			&:nth-child(4) {
				@include animation(music-bar 2s 0.25s ease-out alternate infinite);
			}
			&:nth-child(5) {
				@include animation(music-bar 2s 0.75s ease-out alternate infinite);
			}
		}
	}
	@include min-break($break-small) {
		bottom: 50px;
		right: 50px;	
	}
	
	&:hover,
	&.on {
		background: $color2;
	}
}
@include keyframes(music-bar) {
  0% { height:6px; }
  10% { height:10px; }
  20% { height:6px; }
  30% { height:14px; }
  40% { height:18px; }
  50% { height:6px; }
  60% { height:16px; }
  70% { height:10px; }
  80% { height:12px; }
  90% { height:4px; }
  100% { height:18px; }
}

/* Scroll to Top */
#scroll_to_top {
	position: fixed;
	bottom: -50px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	border: 1px solid #dedede;
	
	&:hover {
		background: #404040;
		border-color: #404040;	
		
		svg {
			fill: #fff;	
		}
	}
	svg {
		fill: #dedede;	
		@extend .quick-transition;
	}
	@include min-break($break-small) {
		right: 50px;
	}
	&.active {
		bottom: 15px;
		
		@include min-break($break-small) {
			bottom: 50px;
			right: 50px;
		}
		
		& + #music_toggle {
			bottom: 75px;
			
			@include min-break($break-small) {
				bottom: 110px;	
			}
		}
	}
}
/* Password Protection */
.password-protected {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	svg {
		display: inline-block;
		width: 60px;
		max-width: 100%;
		margin-bottom: 30px;	
	}
	h3 {
		margin-bottom: 5px;	
	}
	.password-form {
		text-align: center;
	}
	p {
		margin-bottom: 30px;	
	}
}

/* PSWP */
.pswp__caption__center {
	text-align: center;
}

/* Count Up */
.thb-counter {
	text-align: center;	
	color: $color2;
	visibility: hidden;
	margin-bottom: 30px;
	figure {
		display: flex;
		width: 100%;
		height: 50px;
		justify-content: center;
		align-items: center;
		svg {
			display: none;
			width: 50px;
			margin: 0 auto;
			
			path,
			circle,
			rect,
			ellipse {
				stroke: $color2;
			}
		}	
		margin-bottom: 25px;
	}
	div {
		will-change: contents;	
	}
	.h1 {
		display: block;
		width: 100%;
		line-height: 1;
		font-weight: 600 !important;
		letter-spacing: -0.02em !important;
	}
	h6 {
		text-transform: none;
		font-weight: 400;
		font-size: 20px;	
		letter-spacing: normal;
		color: $color2;
		margin: 0;
	}
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* VC Video Element */
.wpb_video_widget .wpb_video_wrapper {
	padding: 0 !important;
}

/* Awards */
.thb-awards-parent {
	color: #111;
	font-size: 18px;
	.award-date {
		display: block;
		padding: 15px 0;
		
		@include min-break($break-small) {
			padding: 25px 0;	
		}
	}
	
	.thb-awards {
		.award-container {
			border-bottom: 1px solid rgba(#000, 0.1);
			padding: 15px 0;
			
			@include min-break($break-small) {
				padding: 25px 0;	
			}
		}
		&:last-child {
			.award-container {
				border-bottom: 0;	
			}
		}
		.thb-award-description {
			strong {
				color: #111;	
			}
		}
	}
	& + .thb-awards-parent {
		border-top: 1px solid rgba(#000, 0.6);
	}
}
/* Experience */
.thb-experience {
	color: #111;
	font-size: 18px;
	border-bottom: 1px solid rgba(#000, 0.1);
	
	&:last-of-type {
		border-bottom: 0;
	}
	.experience-date,
	.thb-experience-description,
	.thb-experience-position {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		
		@include min-break($break-small) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
	.thb-experience-description,
	.thb-experience-position {
		strong {
			color: #111;	
		}
	}
}
/* Twitter Element */
.thb_twitter_container {
	p {
		margin-bottom: 5px;	
		
		a {
			font-weight: 500;	
		}
	}
	.thb_tweet_time {
		font-size: 11px;
		text-transform: uppercase;
		color: map_get($social, 'twitter');
	}
	&.style2 {
		.thb_tweet {
			margin-bottom: 10px;
		}
	}
	&.style1 {
		.thb_tweet {
			margin-bottom: 25px;
		}
	}
}
/* VC Image Carousel */
.vc_carousel-indicators {
	li {
		&:before {
			display: none;
		}	
	}
}
/* Text Element Links */
.wpb_text_column {
	a {
		display: inline-block;	
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-bottom: 2px solid $color1;
			@include scale(0,1);	
			@include transform-origin(0,0);
			@extend .quick-transition;
		}
		&:hover {
			&:after {
				@include scale(1,1);
			}	
		}
	}
}